* {
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

p {
  font-family: garamond, sans-serif;
  font-weight: 700;
}

body {
  background: gray url(./entrypagebackground.png);
}
